{{ define "title" }}Contact{{ end }}

{{ define "content" }}

<div class="col-md-offset-4 col-md-4">
<form class="form-signin" role="form">
    <h2 class="form-signin-heading">Sign in</h2>
    <input type="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</div>

{{ end }}